[Unit]
Description=LocalHost DNS Forwarder
After=network.target

[Service]
ExecStart=/opt/dns/dns -l info -j -p 3000 -w
Restart=on-failure

[Install]
WantedBy=multi-user.target
