[Unit]
Description=LocalHost DNS Forwarder
After=network.target

[Service]
ExecStart=/opt/dns/dns -l warn -j
Restart=on-failure

[Install]
WantedBy=multi-user.target
